h1{
font-family: helvetica serif;
font-size: 80px;
}

#board{
  margin-top: 10px;
  background-color: white;
}

.box{
  border: 1px solid black;
  height: 150px;
  background-color: grey;
  opacity: 0.6;
}

.btn{
  margin-top: 15px;
  width: 6em;
  font-size: 25px;
}

.X{
  background: url('http://i.imgur.com/GjbcLGu.jpg?1');
  background-position: center;
  background-size: 255px;
}

.O{
  background: url('http://i.imgur.com/0RDycdW.jpg?1');
  background-position: center;
  background-size: 270px;
}
