#board {
  margin-top: 10px;
}

h1 {
  font-size: 75px;
}

p{
  font-size: 30px;
}

body {
  font-family: 'Chewy', cursive;
  text-align: center;
  font-size: 100px;
  background-color: grey;
}

.btn {
  font-family: sans-serif;
  text-align: center;
  font-size: 40x;
}

.box {
  border: 2px dashed black;
  height: 150px;
  background-color: white;
  cursor: pointer;
}

.row.text-center {
  background-color: white;
  border: 5px solid black;
  padding: none;
}
